# Core application dependencies
fastapi==0.115.12
packaging<25
uvicorn[standard]
pydantic
torch
torchaudio
transformers
accelerate
#auto-gptq==0.7.1+cu121
lancedb
pyarrow
redis
python-dotenv
outlines
numpy<2.0
